
/*
- fonts -
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
  - colors -
f8de24 yellow
0E345C dark blue
AE2D26 red
*/

/* general styles */
body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
a:hover {
  transition: all .2s ease-in;
  color: #f8de24;
}
.title {
  border-bottom: 2px solid #AE2D26;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: black;
  margin-left: 0;
  width: 100%;
}
h3 {
  font-family: 'Raleway', sans-serif;
  color: white;
}
/* navigation bar */
.hero {
  background-image: url(../FinalImages/Hero.jpg);
  background-color: #0e345c;  /* Used if the image is unavailable */
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.navbar {
  background: rgba(14, 52, 92, .75);
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}
.navbar-items {
  display: flex;
}
.logo {
 margin-top: 5px;
 margin-left: .3%;
}
.nav-link {
  margin-left: 3em;
  font-size: 110%;
}
.navbar-items-right {
  margin-left: 0;
  padding-right: 2em;
}
.imgButtons {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: #AE2D26;
  position: relative;
  margin: .5em;
}
.imgButtons i {
  font-size: 120%;
  color: #fff;
}
.imgButtons img, .imgButtons i {
  position: absolute;
  top: 25%;
  left: 25%;
}
.imgButtons:hover,
.imgButtons:focus {
  background-color: #002868;
}
.navbar-toggle i {
  color: #fff;
  font-size: 150%;
  padding: .75em;
}
.navbar-toggle i:hover {
  color: #ccc;
}
.navbar-toggle {
  display: none;
}
/* hero header */
.content {
  margin-top: 10%;
  color: white;
}
.welcome h1 {
  margin-top: 100px;
  font-size: 300%;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
.welcome button {
  background-size: 100% 200%;
  background-image: linear-gradient(to top, #fff 50%, #AE2D26 50%);
  transition: background-position .5s linear, color .5s linear;
  color: white;
  font-size: large;
  border-radius: 20px;
  border: none;
  margin: 0 auto;
}
.welcome button:hover,
.welcome button:focus {
  background-position: 0 -100%;
}
.welcome button a {
  color: #fff;
}
.welcome button a:hover,
.welcome button a:focus {
  color: #AE2D26;
}

/* Current Projects section */

#work {
  padding-top: 3em;
}
#work .row {
  background: rgba(14, 52, 92, .9);
  //background-color: rgba(255,255,255,.6);
  padding: 1em;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
   -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
   box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
  margin: 1em;
}
.list {
  background-color: white;
  border-radius: 10px;
  padding: 1em;
  text-align: left;
  width: 80%;
  margin: 0 auto;
}
.list a {
  color: rgba(14, 52, 92, .75);
}
.list a:hover {
  color: rgba(14, 52, 92, 1);
}
#work img {
  border-radius: 5px;
}
/* Contact section */
#contact {
  padding: 3em;
  background: rgba(174, 45, 38, 1);
  margin: 0px 0px;
}
#contact .title {
  border-bottom: 2px solid #f8de24;
  color: #fff;
  margin-left: 0;
}
#contact .row {
  background: #fff;
  padding: 3%;
  border-radius: 10px;
  font-weight: normal;
  margin: 20%, 0;
  text-align: center;
  font-size: 130%;
}
#contact strong {
  font-size: 130%;
}
#contact a {
  color: rgba(14, 52, 92, .7);
  font-weight: normal;
}
#contact a:hover {
  color: rgba(14, 52, 92, 1);
}
.contactButtons {
  display: inline-flex;
  justify-content: center;
  margin-top: -25px;
}

/* Footer */
footer {
  background: rgba(14, 52, 92, .4);
  text-align: center;
  padding: 1em;
}
footer h3:hover {
    animation: spin 2s ease-in;
}
.footerButtons {
  display: inline-flex;
  justify-content: center;
}
.top {
  background-color: black;
  width: 2em;
  height: 2em;
  padding: .5em;
  margin: .5em auto;
  border-radius: 50%;
  margin-top: 1em;
  position: relative;
  text-align: center;
  align-items: center;
}
.top a {
 font-size: 150%;
 color: white;
}
.top:hover {
  background-color: #002868;
}
/* about */
#about .row {
  margin: 30px 0;
}
#about img {
  border-radius: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
   -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
   box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
.banner {
  background-color: rgba(14, 52, 92, 1);
  border-radius: 10px;
  text-align: center;
  font-size: 150%;
  margin: 25px 10px;
  padding: 1em 1em 0em 1em;
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
   -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
   box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

/* animation and keyframes */
.slideup {
  animation: slideup 1s ease-out;
}
@keyframes slideup {
  0% {transform: translate(0, 60px)}
  100% {transform: translate(0, 0);}
}
@keyframes slidedown {
  0% {transform: translate(0, -40px)}
  100% {transform: translate(0, 0px);}
}

/* Media Queries */
/* tablet and smaller */
@media only screen and (max-width: 768px) {
  .navbar-items,
  .navbar,
  .logo {
    flex-direction: column;
    align-self: flex-start;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .navbar-items {
    display: none;
  }
  .navbar-items-center {
    text-align: left;
    margin-left: -20px;
  }
  .nav-link {
    padding-top: 1em;
  }
  .navbar-items-right {
    margin-right: 0em;
    margin-top: -9em;
    padding: .5em;
    flex-direction: column;
    align-self: flex-end;
  }
  .navbar-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
  .Navbar__ToggleShow {
    display: flex;
    animation: slidedown .5s linear;
  }
  .title
}
/* Larger than mobile */
@media only screen and (min-width: 400px) {
  .welcome {
    padding: 0em;
    margin-top: 150px;
  }
  .welcome h1 {
    font-size: 300%;
  }
  h4 {
    font-size: 60%;
  }
}

/* Larger than tablet */
@media only screen and (min-width: 768px) {
  .welcome {
    padding: 6em;
  }
  .welcome h1 {
    font-size: 400%;
    margin-top: -90px;
  }
  .skills-item {
    padding: .2em;
  }
  .skills-item h4 {
    font-size: 60%;
  }
  p {
    font-size: 110%;;
  }
  .list {
    width: 100%;
  }
}
